.Properties {
    background: var(--secondary-color);
    backdrop-filter: var(--backdrop-filter);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    height: 240px;
    padding: 1.5rem;
    transition: var(--transition);
}

.Properties:hover {
    transform: var( --transform);
     box-shadow: var( --box-shadow);
    background: var(--hover-background);
}
@media (max-width: 968px) {
    .Properties {
        height: 400px;
    }
}
@media (max-width: 640px) {  
    .Properties {
        height: 200px;
    }
}
