.payment-div {
    background-color: rgb(15, 54, 40);
    height: 200px;
    width: 250px;
    padding: 10px;
    border-radius: 40px;
    margin-left: -2vw;
    position: relative;
    /* top: 50vh;
    left: -1vw; */
}

.payment-method {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 90%;
    width: 80px;
    border-radius: 10px;
    /* background-color: red; */
    background: rgba(27, 64, 52S);
}

.left-arrows {
    border-radius: 50px;
    background-color: rgba(44, 77, 60);
    padding: 10px;
    display: flex;
    gap: 2px;
    position: absolute;
    top: 40%;
    /* right: -1vw; */
    left: -1vw;
}