.charts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 40vh;
}
.chart{
    width: 40%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}