.Information{
    background: var(--secondary-color);
    backdrop-filter: var(--backdrop-filter);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    height: 200px;
    padding: 1.5rem;
    transition: var(--transition);
}
.Information:hover {
    transform: var( --transform);
     box-shadow: var( --box-shadow);
    background: var(--hover-background);
}
@media (max-width: 968px) {
    .Information {
        height: 250px;
    }
}
@media (max-width: 640px) {    
    .Information {
        height: 200px;
    }
}
