.title{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
.title .title-nav{
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: space-around;
}
.btn {
  background-color: #3498db; /* Default background */
  color: white;
  text-decoration: none;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.active-btn {
  background-color: #2ecc71;
}
