.tracking-div {
    /* padding: 250px 145px; */
    height: 480px;
    width: 300px;
    background-color: rgb(10, 49, 38);
    border-radius: 30px;
    position: relative;
}


.right-arrows {
    border-radius: 50px;
    background-color: rgb(20, 122, 93);
    padding: 10px;
    display: flex;
    gap: 2px;
    position: absolute;
    top: 50%;
    right: -1vw;
}

