.stats{
    width: 17vw;
    height: 20vh;
    border-radius: 10px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-cont{
    display: flex;
    justify-content: space-around;
}
.stats-btn{
    width: 60px;
    height: 23px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}