.Graph{
    background: var(--secondary-color);
    backdrop-filter: var(--backdrop-filter);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    height: 165px;
    padding: 1.5rem;
    transition: var(--transition);
    margin-bottom: 1rem;
}
.Graph:hover {
    transform: var( --transform);
     box-shadow: var( --box-shadow);
    background: var(--hover-background);
}
@media (max-width: 968px) {    
    .Graph {
        height: 300px;
    }
}
@media (max-width: 640px) {    
    .Graph {
        height: 200px;
    }
}