.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(70px);
  background: rgba(90, 131, 120, 0.3);
  border-radius: 50px;
  border: 2px solid rgba(13, 92, 70, 0.2);
  height: 250px;
  gap: 10px;
}

.sidebar-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(7, 68, 51, 0.8);
    padding: 10px;
    border-radius: 50px;
    margin: 3px;
}

.layout {
    background-color: rgba(30, 206, 156, 0.5);
    padding: 10px;
    border-radius: 50px;
}

/* .icon {
  color: #bef1a7;
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon-dashboard:hover { color: #4ADE80; transform: scale(1.01) }
.icon-categories:hover { color: #499afd; transform: scale(1.01) }
.icon-tracking:hover { color: #4d13fa; transform: scale(1.01) }
.icon-power:hover { color: #ff0501; transform: scale(1.01) }
.icon-report:hover { color: #00b3ff; transform: scale(1.01) }
.icon-logout:hover { color: #f84242; transform: scale(1.01) }

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
  /* backdrop-filter: blur(10px); 
}

.custom-tooltip.tooltip-dashboard {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 18px;
    /* background-color: #4ADE80; 
    /* color: #000; 
    color: #07f55e;
}

.custom-tooltip.tooltip-categories {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 18px;
    /* background-color: #60a5fA; 
    /* color: #fff; 
    color: #006aec;
}

.custom-tooltip.tooltip-tracking {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 20px;
    /* background-color: #4d13fa;
    color: #fff; 
    color: #4d13fa;
}

.custom-tooltip.tooltip-power {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 18px;
    /* background-color: #ff0501;
    color: #fff; 
    color: #ff0501;
}

.custom-tooltip.tooltip-report {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 18px;
    /* background-color: #38BDF8;
    color: #000; 
    color: #00b3ffe0; 
}

.custom-tooltip.tooltip-logout {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--backdrop-filter);
    font-size: 18px;
    /* background-color: #F87171;
    color: #000; 
    color: #f84242
}


/* .custom-tooltip.tooltip-report:hover,
.custom-tooltip.tooltip-tracking:hover,
.custom-tooltip.tooltip-power:hover,
.custom-tooltip.tooltip-logout:hover,
.custom-tooltip.tooltip-dashboard:hover,
.custom-tooltip.tooltip-categories:hover {
    transition: color .3s ease;
    cursor: pointer;;
} */ 