.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.chart{
    background: var(--secondary-color);
    backdrop-filter: var(--backdrop-filter);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    height: 150px;
    padding: 1.5rem;
    transition: var(--transition);
}
.chart:hover {
    transform: var( --transform);
     box-shadow: var( --box-shadow);
    background: var(--hover-background);
}
@media (max-width: 968px) {  
    .charts {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .chart {
        height: 250px;
    }
}
@media (max-width: 640px) {
    .chart{
        height: 200px;
    }
}
