:root {
  --primary-color: #3498db;
  --secondary-color: rgba(255, 255, 255, 0.1);
  --font-size: 16px;
  --border-radius: 20px;
  --backdrop-filter: blur(20px);
  --hover-background: rgba(255, 255, 255, 0.15);
  --transform: translateY(-5px);
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease;
}
.app-components {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}