html, body {
  height: 100%;
}

body, #root {
  background-image: url(./images/background_6.jpg);
  background-position: center;
  /* background-size: contain; */
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body, #root::after {
  position: absolute;
  inset: o;
  background-color: rgba(31, 31, 31, 0.6);
  z-index: 2;

} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
